/* 
    Document   : homestyle
    Created on : Jul 9, 2013, 4:39:53 PM
    Author     : Enesi
    Description:
        Styling of admin.php page
*/


#container {    
    padding:20px;
    border-width: 0px;
    border-color:  #3f6d26;
    min-width: 800px;
    max-width: 1000px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#container2 {    
    padding:20px;
    border-width: 0px;
    border-color:  #3f6d26;
    width: 1200px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
}

.sub-mod:hover, .sub-mod-add:hover
{
    background-color:  #d3efc4;
}

.sub-mod a
{
    text-decoration: none;
    color:inherit;
}
.sub-mod a:hover
{
    text-decoration: underline;
    color:inherit;
}
.sub-mod
{
    background-color: #e3efdc;
    padding:5px;
    border-style: solid;
    border-width: 1px;
    border-color:  #3f6d26;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    max-width: 250px;
    height:100%;
    display: inline-table;
    cursor:pointer;
    color:#3f6d26;
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 13px;
    line-height: 21px;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    margin-left: 5px;

}

.sub-mod-add
{
    background-color: #e3efdc;
    padding:5px;
    padding-top: 20px;
    border-style: dashed;
    border-width: 3px;
    border-color:  #3f6d26;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    width: 70px;
    height: 70px;
    display: inline-table;
    cursor:pointer;
    color:#3f6d26;
    font-family: "bariollight","Helvetica neue",helvetica,sans-serif;
    font-size: 20px;
    box-sizing:border-box;
    -o-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    margin-left: 5px;
    text-align: center;
}

.sub-mod ul
{
    list-style-position: outside;
    padding-left: 15px;
}

#left-nav div:hover, #left-nav div.active
{
    background-color:#d3efc4;
}
#left-nav div
{
    padding:5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
    border-bottom-color: #3f6d26;
    cursor: pointer;
    color:#555555;
}

#left-nav
{
    box-shadow:3px 0px 6px -3px #66b240;
    -o-box-shadow:3px 0px 6px -3px #66b240;
    -ms-box-shadow:3px 0px 6px -3px #66b240;
    -webkit-box-shadow:3px 0px 6px -3px #66b240;
    -moz-box-shadow:3px 0px 6px -3px #66b240;
    width:200px;
}

#left-nav, #frametd
{
    vertical-align: top;
}

#frametd
{
    width:950px;
    height: 100%;
}

#framecontent
{
    padding-left: 20px;
    min-height: 500px;
}

/*Style Exam Date*/

.dts
{
    padding:3px;
    margin-bottom: 3px;
    margin-left: 5px;
    border-bottom-style:solid;
    border-bottom-width: 2px;
    border-color:  #66b240;
    display:inline-block;
    vertical-align: top;
    text-align: left;
    padding-bottom: 1px;
}

.dts:hover
{
    background-color: #e3efdc;
    border-style:solid;
    border-width: 1px;
    border-radius:4px;
    -o-border-radius:4px;
    -ms-border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    

}

.dt-action
{
   cursor: pointer;
    display:none;
    border-left-style: solid;
    border-left-width: 1px;
    
}